@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Reset dasar. 
  Kita set background default ke slate-50 (#f8fafc) 
  agar sesuai dengan desain page Login/Quiz/Result kita.
*/
body {
  background-color: #f8fafc; 
  color: #0f172a;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}